body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

th,
tr,
td {
    border: 1px solid black;
}

h1 {
    margin: 0;
    font-family: 'Patrick Hand',
        cursive;
    text-align: center;
    width: 100%;
    background-color: #f17a7e;
    position: fixed;
}

#dateCurr{
    margin-top: 4rem;
}